	<section id="detail" class="detailPage">
		<div id="detailTemplate">
			<h2 class="title"></h2>
		</div>
		<button><a href="#videos">Close</a></button>
		<iframe width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</section>
