
{{> loadingSpinner }}
{{> header }}


	<section id="startscreen" class="show"> 
		<div id="template">
			<div class="container">
				<img class="thumbnail">
				<h2 class="title"></h2>
				<a class="videoId"></a>
			</div>	
		</div> 
	</section>


