
{{> loadingSpinner }}
{{> header }}


	<section id="startscreen" class="show"> 
		<div id="template">
			{{#each overview}} 
				<div class="container">
					<img class="thumbnail" src="{{thumbnail}}">
					<h2 class="title">{{title}}</h2>
					<a class="videoId" href="{{title}}/{{id}}"></a>
				</div>
			{{/each}}	
		<div id="template2">
			<div class="container">
				<img class="thumbnail">
				<h2 class="title"></h2>
				<a class="videoId"></a>
			</div>	
		</div> 
		</div> 
	</section>


