
{{> loadingSpinner }}
{{> header }}


	<section id="startscreen" class="show"> 
		<div id="template">
			{{#each videos}} 
				<div class="container">
					<img class="thumbnail" src="{{thumbnail}}">
					<h2 class="title">{{title}}</h2>
					<a class="videoId" href="{{videoId}}"></a>
				</div>
			{{/each}}	
		</div> 
	</section>


