<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Performance Matters</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	{{{ body }}}
	
</body>
	<script src="Javascript/routie.js"></script>
	<script src="javascript/transparency.min.js"></script>
	<script src="Javascript/filterCategory.js"></script>
	<script src="Javascript/addCategory.js"></script>
	<script src="Javascript/addYourVideos.js"></script>
	<script src="Javascript/template.js"></script>
	<script src="Javascript/storage.js"></script>
	<script src="Javascript/routes.js"></script>
	<script src="Javascript/script.js"></script>
</html>

